.home-container {
  h1 {
    margin: 0;
    font-size: 3rem;
    text-align: center;
  }

  p {
    font-size: 1.3rem;
    text-align: justify;
  }

  .start-popup {
    display: none;
    position: fixed;
    opacity: 0.6;
    width: 100vw;
    height: 100vh;
    background-color: white;

    .popup-content {
      padding: 20px;
      height: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .logo {
        min-width: 300px;
        width: 100%;
        max-width: 500px;
        height: 300px;
        background-color: $primary-background-color;
        margin-bottom: 40px;
        animation: flipH 1.5s linear;
      }
    }
  }

  .active {
    display: block;
  }

  @keyframes flipH {
    0% {
      transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      transform-origin: 50% 0%;
      filter: blur(40px);
      opacity: 0;
    }
    50% {
      transform: translateY(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
      transform: rotateY(180deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  .profile {
    background: $primary-background-color;
    min-height: 80vh;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    .profile-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1000px;
    }

    .avatar {
      border-radius: 50%;
      width: 200px;
      margin-bottom: 20px;
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $secondary-background-color;
    padding: 20px;

    .projects-container {
      width: 100%;
      padding: 40px 0;

      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      justify-content: space-around;
      row-gap: 40px;
      column-gap: 20px;
    }

    .project-card {
      width: 100%;
      height: 400px;
      background-color: $primary-background-color;
    }
  }

  .about-me {
    padding: 20px;
    background: $primary-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cv-container {
      background-color: white;
      width: 100%;
      height: 600px;
    }
  }

  .contact {
    background: $secondary-background-color;

    .contact-icon {
      font-size: 30px;
      color: white;
    }
  }
}
